<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Match</title>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
        }
        .image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .image-box {
            width: 150px;
            height: 150px;
            margin: 10px;
            cursor: pointer;
        }
    </style>
    <script>
        function toggleImage(element, images) {
            let currentSrc = element.src;
            let nextSrc = images.find(src => src !== currentSrc);
            element.src = nextSrc;
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="image-container">
            {% if "Hat" in dictcomp and "Scarf" in dictcomp %}
                <img src="{{ dictcomp['Hat'].getImg() }}" class="image-box" onclick="toggleImage(this, ['{{ dictcomp['Hat'].getImg() }}', '{{ dictcomp['Scarf'].getImg() }}'])">
            {% elif "Hat" in dictcomp %}
                <img src="{{ dictcomp['Hat'].getImg() }}" class="image-box">
            {% elif "Scarf" in dictcomp %}
                <img src="{{ dictcomp['Scarf'].getImg() }}" class="image-box">
            {% else %}
                <img src="{{ url_for('static', filename='blankHat.jpg') }}" class="image-box">
            {% endif %}
        </div>
    
        <div class="image-container">
            {% if "Upper-wear" in dictcomp and "Dress" in dictcomp %}
                <img src="{{ dictcomp['Upper-wear'].getImg() }}" class="image-box" onclick="toggleImage(this, ['{{ dictcomp['Upper-wear'].getImg() }}', '{{ dictcomp['Dress'].getImg() }}'])">
            {% elif "Upper-wear" in dictcomp %}
                <img src="{{ dictcomp['Upper-wear'].getImg() }}" class="image-box">
            {% elif "Dress" in dictcomp %}
                <img src="{{ dictcomp['Dress'].getImg() }}" class="image-box">
            {% else %}
                <img src="{{ url_for('static', filename='blankShirt.png') }}" class="image-box">
            {% endif %}
        </div>
    
        <div class="image-container">
            {% if "Pants" in dictcomp and "Skirt" in dictcomp %}
                <img src="{{ dictcomp['Pants'].getImg() }}" class="image-box" onclick="toggleImage(this, ['{{ dictcomp['Pants'].getImg() }}', '{{ dictcomp['Skirt'].getImg() }}'])">
            {% elif "Pants" in dictcomp %}
                <img src="{{ dictcomp['Pants'].getImg() }}" class="image-box">
            {% elif "Skirt" in dictcomp %}
                <img src="{{ dictcomp['Skirt'].getImg() }}" class="image-box">
            {% else %}
                <img src="{{ url_for('static', filename='blankPants.jpg') }}" class="image-box">
            {% endif %}
        </div>
    
        <div class="image-container">
            {% if "Left-shoe" in dictcomp and "Right-shoe" in dictcomp %}
                <img src="{{ dictcomp['Left-shoe'].getImg() }}" class="image-box" onclick="toggleImage(this, ['{{ dictcomp['Left-shoe'].getImg() }}', '{{ dictcomp['Right-shoe'].getImg() }}'])">
            {% elif "Left-shoe" in dictcomp %}
                <img src="{{ dictcomp['Left-shoe'].getImg() }}" class="image-box">
            {% elif "Right-shoe" in dictcomp %}
                <img src="{{ dictcomp['Right-shoe'].getImg() }}" class="image-box">
            {% else %}
                <img src="{{ url_for('static', filename='blankShoe.jpg') }}" class="image-box">
            {% endif %}
        </div>
    </div>
</body>
</html>