<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style>
        .button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 4px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Hello, World!</h1>
    <a href="{{ url_for('new_page') }}" class="button">Go to New Page</a>
    
    <form method="post" enctype="multipart/form-data">
    <label for="imageUpload">Select image to upload:</label>
    <input type="file" id="imageUpload" name="imageUpload" accept="image/*">
    <input type="submit" value="Upload Image" >
    </form>

    {% if (image is not none) %}
    <img src="{{ image }}" alt="Uploaded Image">
    {% endif %}
    {% if (image is not none) %}
    <img src="{{ image }}" alt="Uploaded Image">
    {% endif %}

</body>
</html>
